<!DOCTYPE html>
<html lang="fr" th:replace="~{admin/layout :: layout(~{::title}, ~{::.content}, ~{::script})}">
<head>
    <title>Réservations - Artistes</title>
</head>
<body>
<div class="content">
    <!-- Bouton pour créer un artiste -->
    <button id="btn-create-user" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Créer un artiste
    </button>

    <!-- Modal de création d'artiste -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Créer un artiste</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de création d'artiste -->
                    <form id="form-create-artist">
                        <label for="firstname">Prénom</label>
                        <input class="form-control" type="text" id="firstname">

                        <label for="lastname">Nom de famille</label>
                        <input class="form-control" type="text" id="lastname">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-created-artist">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal d'édition d'artiste -->
    <div class="modal fade" id="editArtistModal" tabindex="-1" aria-labelledby="editArtistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editArtistModalLabel">Mettre à jour un artiste</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de création d'artiste -->
                    <form id="form-edit-artist">
                        <input id="id" hidden>
                        <label for="firstname">Prénom</label>
                        <input class="form-control" type="text" id="firstname-edit">

                        <label for="lastname">Nom de famille</label>
                        <input class="form-control" type="text" id="lastname-edit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-edited-artist">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tableau des artistes -->
    <table id="artists" class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom de famille</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle pour afficher les artistes -->
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.firstname}"></td>
            <td th:text="${artist.lastname}"></td>
            <td>
                <a th:href="@{/admin/artists/{id}(id=${artist.id})}">Voir</a>
                <a class="delete-artist" th:href="@{/api/artists/{id}(id=${artist.id})}" th:data-id="${artist.id}">Supprimer</a>
                <a class="edit-artist" th:href="@{/api/artists/{id}(id=${artist.id})}" th:data-id="${artist.id}" data-bs-toggle="modal" data-bs-target="#editArtistModal">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="/javascript/artists.js"></script>
</body>
</html>
