<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Création d'un type</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1>Nouveau type</h1>

        <form th:object="${type}" th:action="@{/types/create}" method="post">
            <div>
                <label>Type:</label>
                <input type="text" th:field="*{type}">
                <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button type="submit" th:text="Create">Create</button>
                <button type="reset" th:text="Réinitialiser">Réinitialiser</button>
                <a th:href="@{/types}">Annuler</a>
            </div>
        </form>

        <nav><a th:href="@{/types}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>

