<html lang="fr" th:replace="~{admin/layout :: layout(~{::title}, ~{::.content}, ~{::script})}">
<title>Réservations - Representation</title>

<div class="content">
    <table class="table table-striped table-hover">
        <tr>
            <th>Show_id</th>
            <th>When</th>
            <th>Location_id</th>


            <th>Actions</th>
        </tr>
        <tr th:each="representations : ${representation}">
            <td th:text="${representation.showId}"></td>
            <td th:text="${representation.when}"></td>
            <td th:text="${representation.locationId}"></td>

        </tr>

        </tr>
    </table>
</div>
<script>
</script>
</html>