<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Modification d'un artiste</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">


        <h1>Modification de l'artiste</h1>


        <h2>Prenom : <span th:text="${artist.firstname}">Daniel</span></h2>
        <h2>Nom: <span th:text="${artist.lastname}">Marcelin</span></h2>

        <form th:action="@{/artists/{id}/edit(id=${artist.id})}" th:object="${artist}" th:method="put">
            <div>
                <label>Id:</label>
                <span th:text="${artist.id}">1</span>
            </div>
            <div>
                <label>Firstname:</label>
                <input type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}"
                   th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Lastname:</label>
                <input type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}"
                   th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button type="submit" th:text="Modifier">Modifier</button>
                <button type="reset" th:text="Réinitialiser">Réinitialiser</button>
                <a th:href="${back}">Annuler</a>
            </div>
        </form>

        <nav><a th:href="@{/artists}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>
