<html lang="fr" th:replace="~{admin/layout :: layout(~{::title}, ~{::.content}, ~{::script})}">
<title>Réservations - Artistes</title>

<div class="content">
    <table class="table table-striped table-hover">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Actions</th>
        </tr>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.firstname}"></td>
            <td th:text="${artist.lastname}"></td>
            <td>
                <a th:href="@{/admin/artists/{id}(id=${artist.id})}">View</a>
            </td>

        </tr>
    </table>
</div>
<script>

    alert('Bienvenu sur ma page!');
</script>


<script>
    // async function loadArtists() {
    //     const response = await fetch("http://localhost:8080/api/artists");
    //     const artists = await response.json();
    //     const table = document.getElementById("artists")
    //     artists.forEach(artist => {
    //         const tr = document.createElement("tr")
    //         const cell1 = document.createElement("td")
    //         const cell2 = document.createElement("td")
    //
    //         cell1.innerText = artist.firstname
    //         cell2.innerText = artist.lastname
    //
    //         tr.appendChild(cell1)
    //         tr.appendChild(cell2)
    //
    //         table.appendChild(tr)
    //     })
    // }
    //
    // window.addEventListener('load', function () {
    //     loadArtists()
    // }, false);
</script>
</html>