<html lang="fr" th:replace="~{layout :: layout(~{::title}, ~{::.content}, ~{::script})}">
<title>Réservations - Artistes</title>

<!--<div class="content">
    <h1 th:text="${show.title}"></h1>

    <div th:each="r : ${show.representations}" class="card col-4" style="width: 18rem;">
        <div th:text="${r.show.description}"></div>
        <div th:text="${r.show.location.locality.locality}"></div>
        <div th:text="${r.show.location.address}"></div>
        <div th:text="${r.getRepresentationDate() }"></div>
        <a th:href="@{'/representations/' + ${r.id} + '/places'}" class="btn btn-primary">Acheter</a>
    </div>
</div>-->
<div class="content">
    <h1 th:text="${show.title}" class="mb-4"></h1>

    <div class="row">
        <div th:each="r : ${show.representations}" class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${r.show.description}"></h5>
                    <p class="card-text">
                        <strong>Localité:</strong> <span th:text="${r.show.location.locality.locality}"></span><br>
                        <strong>Adresse:</strong> <span th:text="${r.show.location.address}"></span><br>
                        <strong>Date:</strong> <span th:text="${r.getRepresentationDate()}"></span>
                    </p>
                    <a th:href="@{'/representations/' + ${r.id} + '/places'}" class="btn btn-primary">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/">Retour</a>
</div>





<script>
</script>
</html>