<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>Details localité</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <h1>Details localité</h1>

        <h2>Postal Code: <span th:text="${locality.postalCode}">1000</span></h2>
        <h2>Locality: <span th:text="${locality.locality}">Bruxelles</span></h2>




        <ul th:unless="${#lists.isEmpty(locality.locations)}">
            <li th:each="location : ${locality.locations}"
                th:text="${location.designation}">Dexia Art center</li>
        </ul>
        <p th:if="${#lists.isEmpty(locality.locations)}">Aucun lieu de spectacle.</p>

        <!-- Ajout des messages de succès et d'erreur -->
        <div>
            <span th:if="${successMessage}" th:text="${successMessage}" class="alert-success"></span>
            <span th:if="${deleteError}" th:text="${deleteError}" class="alert-danger"></span>
        </div>

        <div class="actions">
            <a th:href="@{/localities/{id}/edit(id=${locality.id})}">Modifier</a>
            <form th:id="|deleteForm-${locality.id}|"
                  th:action="@{/localities/{id}(id=${locality.id})}" th:method="delete">
                <a href="#" th:onclick="|if(confirm('Confirmer la suppression de la localité #${locality.id} ?'))
                           document.getElementById('deleteForm-${locality.id}').submit();
                           return false;|">Supprimer</a>
            </form>
        </div>

        <nav><a th:href="@{/localities}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>