<html lang="fr" th:replace="~{admin/layout :: layout(~{::title}, ~{::.content}, ~{::script})}">
<title>Réservations - Users</title>

<div class="content">

    <table class="table table-striped table-hover">

        <tr>
                <th>Login</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Langue</th>
                <th>Role</th>
                <th>Actions</th>
        </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.login}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.language}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/users/{id}(id=${user.id})}">View</a>
                </td>
            </tr>

    </table>
</div>
<script>

</script>
</html>